<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/aboutstyle.css">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('partial/nav');-%>
  <h1>Welcome to my blog</h1>
  <h3>my name is Mulero Alamou</h3>
  <ul>
  <h3> My Hobbies </h3>
    <li> Watching anime (Here's my <a href="https://myanimelist.net/animelist/Mulerokun">list</a>)</li>
    <li>Watching kdrama</li>
    <li>Playing video games</li>
    <li>Programming</li>
    <li>Listening to music</li>
    <li>Working out</li>
    <li>Hanging out with friends</li>
    <li>Learning more about the things I like</li>
  </ul>
  <%- include('partial/footer');-%>
</body>

</html>
