<style media="screen">
  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover{
    color: rgb(230, 228, 228);
  }
</style>
<div class="nav">
  <h1 class='nav-title'>Lero's Blog</h1>
  <div class="nav-content">
    <h3 class="nav-text">Read and write to your hearts content</h3>
    <ul class="nav-list">
      <li class="nav-items"><a href="/home">Home</a></li>
      <li class="nav-items"><a href="/about">About</a></li>
      <li class="nav-items"><a href="/create">Create</a></li>
    </ul>
  </div>
  <hr>
</div>
